body, html {
  height: 100%;
  font-family: 'Handlee', cursive;
}

h1, h2, h3, h4, h5 {
    font-family: 'Handlee', cursive;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("images/cover.jpg");
  min-height: 100%;
}

.menu {
  display: none;
}

.logo-icon {
    width: 10%;
    height: auto;
}

@media screen and (max-width: 600px) {
  .logo-icon {
    width: 15%;
    height: auto;
  } 
}